<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Animals</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>!חנות החיות המגניבה בארץ</h1>
    <hr />

    <div style="text-align: center">
      <a href="/templates/index.html" target="_blank">דף הבית</a>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <a href="/templates/animals.html" target="_blank">חיות</a>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>

      <a href="/templates/contact.html" target="_blank">צור קשר</a>
    </div>

    <h3 style="text-align: right">:להלן חיות שניתן לקנות אצלנו בחנות</h3>

    <div>
      <img src="/assets/images/cat.jpeg" width="300" />
      <img src="/assets/images/dogs.jpeg" width="300" />
      <img src="/assets/images/fish1.jpeg" width="300" />
      <img src="/assets/images/fish2.jpeg" width="300" />
      <img src="/assets/images/fish3.jpeg" width="300" />
      <img src="/assets/images/fish4.jpeg" width="300" />
      <img src="/assets/images/fish5.jpeg" width="300" />
      <img src="/assets/images/mouse.avif" width="300" />
      <img src="/assets/images/parrot.jpeg" width="200" />
    </div>

    <footer>כל הזכויות שמורות ©</footer>
  </body>
</html>
