<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact us</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>
  <body>
    <h1>!חנות החיות המגניבה בארץ</h1>
    <hr />

    <div style="text-align: center">
      <a href="/templates/index.html" target="_blank">דף הבית</a>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <a href="/templates/animals.html" target="_blank">חיות</a>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>

      <a href="/templates/contact.html" target="_blank">צור קשר</a>
    </div>

    <h3 style="text-align: right">:צור קשר</h3>
    <br />

    <div style="text-align: right">
      <form action="#">
        <input type="text" name="first_name" />
        <label>:שם פרטי</label>
        <br /><br />
        <input type="text" name="last_name" />
        <label>:שם משפחה</label>
        <br /><br />
        <select name="gender">
          <option>:בחר/י</option>
          <option value="1">זכר</option>
          <option value="2">נקבה</option>
        </select>
        <label>:מין</label>
        <br /><br />
        <select name="gender">
          <option>...בחר/י עיר</option>
          <option value="1">תל אביב</option>
          <option value="2">חיפה</option>
        </select>
        <label>:עיר</label>
        <br /><br />
        <textarea name="description"></textarea>
        <label>:הודעה</label>
        <br /><br />
        <button>שלח</button>
      </form>
    </div>

    <footer>כל הזכויות שמורות ©</footer>
  </body>
</html>
