<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pet Store</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <h1>!חנות החיות המגניבה בארץ</h1>
    <hr />

    <div style="text-align: center">
      <a href="/templates/index.html" target="_blank">דף הבית</a>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <a href="/templates/animals.html" target="_blank">חיות</a>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>

      <a href="/templates/contact.html" target="_blank">צור קשר</a>
    </div>

    <div style="text-align: right">
      <p>!ברוכים הבאים לחנות החיות המגניבה בארץ</p>
      <p>
        כאן תוכלו לקרוא מאמרים על גידול חיות, לקנות חיות בית ומזון לחיות בית
      </p>
      <p>ניתן לבצע הזמנות ולקבל את המוצרים ע״י משלוח עד הבית</p>
    </div>

    <div style="text-align: center">
      <img
        width="300"
        src="/assets/images/310939361_428366552736611_1291441788782235389_n.jpg"
      />
    </div>

    <footer>כל הזכויות שמורות ©</footer>
  </body>
</html>
