<!DOCTYPE html>
<html lang="he">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Submited</title>
    <link rel="stylesheet" href="/styles/style.css" />

    <script>
      // this function will return to homepage after 4 seconds
      window.setTimeout(function () {
        window.location.href = "/templates/index.html";
      }, 4000);
    </script>
  </head>

  <body>
    <h1>!חנות החיות המגניבה בארץ</h1>
    <hr />

    <div style="text-align: center">
      <a href="/templates/index.html" target="_blank">דף הבית</a>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <a href="/templates/animals.html" target="_blank">חיות</a>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>
      <span>&nbsp;</span>

      <a href="/templates/contact.html" target="_blank">צור קשר</a>
    </div>
    <br /><br /><br /><br />

    <h3 style="text-align: center">!ההודעה נשלחה בהצלחה</h3>
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <footer>כל הזכויות שמורות ©</footer>
  </body>
</html>
