* {
    direction: rtl;
}
body {
    background-color: rgb(182, 215, 228);
}

h1 {
    text-align: center;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

footer {
    text-align: center;
    margin: 20px;
}

a:hover {
    color: yellow;
}

p {
    font-size: large;
}

form input, textarea, select {
    background-color:beige;
}

form label {
    color:brown;
}

.form-container {
    box-sizing: border-box;
}

div br {
    display: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem; 
}